APP_ENV=
APP_VERSION=
HOST=
PORT=
DEBUG=
AI_PROVIDER=
MISTRAL_API_KEY=
MISTRAL_CHAT_MODEL=
MISTRAL_VISION_MODEL=
MISTRAL_EMBED_MODEL=
AI_REQUEST_TIMEOUT_SECONDS=
AI_MAX_TRANSIENT_RETRIES=
DOCUMENT_MAX_UPLOAD_BYTES=
DOCUMENT_MAX_PAGES=
DOCUMENT_MIN_EXTRACTABLE_CHARS=
DOCUMENT_CHUNK_MAX_TOKENS=
DOCUMENT_CHUNK_MIN_TOKENS=
DOCUMENT_CHUNK_OVERLAP_TOKENS=
DOCUMENT_MIN_SIMILARITY_SCORE=
VECTOR_TOP_K=
BM25_TOP_K=
RERANK_TOP_K=
FINAL_CONTEXT_K=
DOCUMENT_METADATA_PATH=
CHROMA_PERSIST_PATH=
CHROMA_DOCUMENT_COLLECTION=
MAX_VIDEO_SIZE_MB=
MAX_VIDEO_DURATION_SECONDS=
MAX_KEYFRAMES=
KEYFRAME_INTERVAL_SECONDS=
VIDEO_SUBPROCESS_TIMEOUT_SECONDS=
FFMPEG_PATH=
FFPROBE_PATH=
VIDEO_VISION_ENABLED=
VIDEO_TRANSCRIPTION_ENABLED=
TRANSCRIPTION_PROVIDER=
VIDEO_SEARCH_TOP_K=
VIDEO_MIN_SIMILARITY_SCORE=
VIDEO_METADATA_PATH=
VIDEO_STORAGE_PATH=
CHROMA_VIDEO_COLLECTION=
